html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.bg-blue {
    background-color: blue;
}

.text-white {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card {
    border-radius: 20px;
    background-color: white;
    width: 200px;
    height: 250px;
    justify-content: center;
    align-items: center;
    display: grid;
}